.playerCard {
  border: solid black 2px;
  width: 200px;
  height: 100px;
}

.goalkeeper {
  background-color: red;
}

.defender {
  background-color: lightblue;
}

.midfielder {
  background-color: green;
}

.attacker {
  background-color: orange;
}
